@media screen and (min-width: 480px)
{
    .logo
    {
        height:10%;
        width:30%;
    }
}
@media screen and (min-width: 480px)
{
    .logo
    {
        height:10%;
        width:30%;
    }
}