 <div id="preloader">
  <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->

<!-- Header Area End -->

<!-- Welcome Area Start -->

<router-outlet></router-outlet>


<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
  <!-- Main Footer Area -->
  <div class="main-footer-area">
      <div class="container">
          <div class="row">
              <!-- Single Footer Widget Area -->

               <!-- Single Footer Widget Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Widget Title -->
                        <h6 class="widget-title">Address</h6>
  
                        <!-- Footer Nav -->
                        <div class="footer-contact-info">
                              <p><i class="zmdi zmdi-map"></i>Mood Indigo Office, <br> Student Activity Centre,<br> IIT Bombay </p>
                       </div>
                    </div>
                </div>
              <!-- Single Footer Widget Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                      <!-- Widget Title -->
                      <h6 class="widget-title">Contact</h6>

                      <!-- Footer Nav -->
                      <div class="footer-contact-info">
                            <p><i class="zmdi zmdi-phone"></i> Abhijeet Verma - 8879433693 </p>
                            <p><i class="zmdi zmdi-phone"></i> Anav Agrawal - 8818883923</p>
                     </div>
                  </div>
              </div>

              <!-- Single Footer Widget Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Widget Title -->
                        <h6 class="widget-title">E-Mail</h6>
  
                        <!-- Footer Nav -->
                        <div class="footer-contact-info">
                                <p><i class="zmdi zmdi-email"></i> abhijeet@moodi.org</p>
                                <p><i class="zmdi zmdi-email"></i> anav@moodi.org</p>
                       </div>
                    </div>
                </div>
                <!-- Single Footer Widget Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms" style="align-items: center;">
                        <!-- Widget Title -->
                        <h6 class="widget-title">Follow Us</h6>
                        <div class="social-info">
                                <a href="https://www.facebook.com/iitb.moodindigo/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="https://www.instagram.com/iitbombay.moodi/?hl=en" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="https://twitter.com/iitb_moodi?lang=en" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/mood-indigo/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                    </div>
                </div>
          </div>
      </div>
  </div>

  <!-- Copywrite Area -->
  <div class="container">
      <div class="copywrite-content">
          <div class="row">
              <!-- Copywrite Text -->
              <div class="col-12 col-md-6">
              </div>
              <!-- Footer Menu -->
              <div class="col-12 col-md-6">
                  <div class="footer-menu">
                      <ul class="nav">
                         <li><a href="#"> &#9400; MOOD INDIGO 2019</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>