<!-- Our Speakings Area Start -->
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(img/bg-img/3.jpg);">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                  <br><br>
                  <h4>Past WINNERS</h4>
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single Speaker Area -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms" >
                  <!-- Thumb -->
                  <div class="speaker-single-thumb">
                      <img src="../assets/img/core-img/Parikrama.jpeg" class="win" alt="">
                  </div>
                  <!-- Social Info -->
                  <!-- <div class="social-info">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                  </div> -->
                  <!-- Info -->
                  <div class="speaker-info">
                      <h5>Parikrama</h5>
                  </div>
              </div>
          </div>

          <!-- Single Speaker Area -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Thumb -->
                  <div class="speaker-single-thumb">
                      <img src="../assets/img/core-img/Pentagram.jpeg" class="win" alt="">
                  </div>
                  <!-- Social Info -->
                  <!-- <div class="social-info">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                  </div> -->
                  <!-- Info -->
                  <div class="speaker-info">
                      <h5>Pentagram</h5>
                  </div>
              </div>
          </div>

          <!-- Single Speaker Area -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Thumb -->
                  <div class="speaker-single-thumb">
                      <img src="../assets/img/core-img/kraken.jpg" alt="">
                  </div>
                  <!-- Social Info -->
                  <!-- <div class="social-info">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                  </div> -->
                  <!-- Info -->
                  <div class="speaker-info">
                      <h5>Kraken</h5>
                  </div>
              </div>
          </div>

          <!-- Single Speaker Area -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Thumb -->
                  <div class="speaker-single-thumb">
                      <img src="../assets/img/core-img/The F16s.jpeg"  alt="">
                  </div>
                  <!-- Social Info -->
                  <!-- <div class="social-info">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                  </div> -->
                  <!-- Info -->
                  <div class="speaker-info">
                      <h5>The F16s </h5>
                  </div>
              </div>
          </div>

          <!-- Single Speaker Area -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Thumb -->
                  <div class="speaker-single-thumb">
                      <img src="../assets/img/core-img/bhayanak maut.jpg" alt="">
                  </div>
                  <!-- Social Info -->
                  <!-- <div class="social-info">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                  </div> -->
                  <!-- Info -->
                  <div class="speaker-info">
                      <h5>Bhayanak Maut</h5>
                  </div>
              </div>
          </div>

          <!-- Single Speaker Area -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Thumb -->
                  <div class="speaker-single-thumb">
                      <img src="../assets/img/core-img/Small Talk.jpeg" alt="">
                  </div>
                  <!-- Social Info -->
                  <!-- <div class="social-info">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                  </div> -->
                  <!-- Info -->
                  <div class="speaker-info">
                      <h5>Small Talk</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Our Speakings Area End -->