
<!-- Welcome Area End -->

<!-- About Us And Countdown Area Start -->
<section class="about-us-countdown-area section-padding-100-0" id="about">
  <div class="container">
      <div class="row align-items-center">
          <!-- About Content -->
          <div class="col-12 col-md-6">
              <div class="about-content-text mb-80">
                  <h6 class="wow fadeInUp" data-wow-delay="300ms"><br><br><br>About Livewire</h6>
                  <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to livewire</h3>
                  <p align="justify" class="wow fadeInUp" data-wow-delay="300ms" >LiveWire is the celebration of independent music in India and aims to bring out the most unique music from various parts of our nation.<br>Livewire - the oldest and biggest semi-professional band launchpad has been instrumental in promoting independent music scene in India for the past 39 years.<br>Over the years, Livewire has seen the birth of some of the country's greatest bands like Parikrama, The F16s, Pentagram, Motherjane, Zero and Goddess Gagged. The revamped model of LiveWire is open not just rock and metal but also the most genre-bending sounds. The language of performance is not a barrier till the band is performing original compositions.
                  </p>
              </div>
          </div>

          <!-- About Thumb -->
          <div class="col-12 col-md-6">
              <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                  <img style="max-width: 100%; height:auto;margin-top:18%;" src="../assets/img/bg-img/Livewire.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- About Us And Countdown Area End -->

<!-- Our Speakings Area Start -->
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(img/bg-img/3.jpg);">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                  <h4>PRIZES</h4>
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon1.png" alt="">
                    </div>
                    <h5>Three City Tour</h5>
                    <p>Winner gets a country wide sponsored tour by B:Ent </p>
                </div>
            </div>
          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon2.png" alt="">
                    </div>
                    <h5>Podcast</h5>
                    <p>Winner will feature on an episode of Maed in India<br><br></p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon3.png" alt="">
                    </div>
                    <h5>Mood Indigo Performance</h5>
                    <p>Get to perform at the Mood Indigo mainstage</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon4.png" alt="">
                    </div>
                    <h5>TVF Sketches</h5>
                    <p>Get your music featured in an upcoming TVF series/sketch</p>
                </div>
            </div>

          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon5.png" alt="">
                    </div>
                    <h5>Gear Coupons</h5>
                    <p>Get Gear coupons worth 1.8 Lakh INR from Futrados</p>
                </div>
            </div>
          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <p style="font-size:400%; align-content: center; color:black"><i class="fa fa-money"></i></p>
                    </div>
                    <h5>Cash Prize</h5>
                    <p>Cash prizes of INR 1 Lakh for the winners of LiveWire 2019</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon7.png" width="45%" alt="" >
                    </div>
                    <h5>RSJ Article</h5>
                    <p>Get exclusive coverage for your band in Rock Street Journal</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                            <p style="font-size:400%; align-content: center; color:black"><i class="fa fa-ticket"></i></p>
                    </div>
                    <h5>Nrtya Showcase</h5>
                    <p>Bag a performance slot in the lineup of Nrtya Showcase</p>
                </div>
            </div>


          <!-- <div class="col-12">
              <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                  <a class="btn confer-btn-white" href="#">view all Prizes <i class="zmdi zmdi-long-arrow-right"></i></a>
              </div>
          </div> -->
      </div>
  </div>
</section>
<!-- Our Speakings Area End -->

<!-- Our Schedule Area Start -->
<section class="our-schedule-area section-padding-100">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                  <p>Our Timetable</p>
                  <h4>Schedule Plan</h4>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <!-- Tab Content -->
              <div class="tab-content" id="conferScheduleTabContent">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <!-- <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div> --><pre>     </pre>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h1 style="color: white;"> Delhi</h1>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-mic-outline"></i> Man Goes Human</p>
                                            <p><i class="zmdi zmdi-time"></i> 13 October 2019</p>
                                            <p><i class="zmdi zmdi-pin"></i> Dontelmama Delhi</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                    </div>
                              </div>
                            </div>
                       </div>
                       <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <!-- <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div> --><pre>  </pre>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h1 style="color: white; text-align: center">Bangalore</h1>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-mic-outline"></i> Easy Wanderlings</p>
                                                <p><i class="zmdi zmdi-time"></i> 13 October 2019</p>
                                                <p><i class="zmdi zmdi-pin"></i> Fandom at Gilly's Redefined</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                    </div>
                              </div>
                            </div>
                       </div>
                       <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <!-- <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div> --><pre>   </pre>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h1 style="color: white;">Shillong</h1>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 19 October 2019</p>
                                                <p><i class="zmdi zmdi-pin"></i> The Evening Club</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                    </div>
                              </div>
                            </div>
                       </div>
                       <!-- Single Tab Content -->
                       <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <!-- <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div>-->
                                            <pre>   </pre>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h1 style="color: white;">Mumbai</h1>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-mic-outline"></i> Coshish</p>
                                                <p><i class="zmdi zmdi-time"></i> 24 November 2019</p>
                                                <p><i class="zmdi zmdi-pin"></i> The Stables</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                    </div>
                              </div>
                            </div>
                       </div>
                        
                        <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <!-- <div class="single-schedule-tumb">
                                                    <img src="..assets/img/bg-img/10.jpg" alt="">
                                                </div> --><pre>     </pre>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h1 style="color: white;">Pune</h1>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                    <p><i class="zmdi zmdi-notifications"></i> To be Announced...</p>
                                                    <!-- <p><i class="zmdi zmdi-mic-outline"></i> To be Announced...</p> -->
                                                    <!-- <p><i class="zmdi zmdi-time"></i> To be Announced...</p>
                                                    <p><i class="zmdi zmdi-gps-dot"></i> To be Announced...</p> -->
                                            </div>
                                            <!-- Schedule Btn -->
                                            <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                        </div>
                                  </div>
                                </div>
                           </div>
                </div>
                  
            </div>
      </div>
  </div>
  <!-- Our Schedule Area End -->

<br><br><br><br/>



<!-- Contact Area Start -->
<section class="contact-our-area section-padding-100-0" id="Register" style="background-image: -webkit-linear-gradient(120deg, #df42b1 0%, #505add 100%);
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: rgb(198, 63, 164);">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                  <!-- <p>Have Question?</p> -->
                  <h4>Register</h4>
              </div>
          </div>
      </div>

      <div  class="row justify-content-between">
          <div class="col-12 col-sm-8">
              <!-- Contact Form -->
              <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                  <div class="contact_form">
                      <form action="mail.php" method="post" id="main_contact_form">
                          <div class="contact_input_area">
                              <div id="success_fail_info"></div>
                              <div class="row">
                                    <!-- <div class="col-12 col-lg-6">
                                            <div name="city" class="form-group">
                                                <select  [(ngModel)]="city" name="city" style="color: black" type="email" class="form-control mb-30"  >
                                                        <option value="default">Select City</option>    
                                                    <option>Mumbai</option>
                                                    <option>Pune</option>
                                                  <option>Delhi</option>
                                                  <option>Bangalore</option>
                                                  <option>Shillong</option>
                                              </select>
                                              
                                                
                                            </div>
                                        </div> -->
                                        <div class="col-12 col-lg-6">
                                                <div  class="form-group">
                                                    <input style="color: black" type="text" class="form-control mb-30" name="bname" id="bname" [(ngModel)]="city" placeholder="City">
                                                </div>
                                            </div>

                                    <div class="col-12 col-lg-6">
                                            <div  class="form-group">
                                                <input style="color: black" type="text" class="form-control mb-30" name="bname" id="bname" [(ngModel)]="band_name" placeholder="Band Name">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-lg-6">
                                                <div  class="form-group">
                                                    <input style="color: black" type="text" class="form-control mb-30" name="bname" id="bname" [(ngModel)]="genre" placeholder="Genre">
                                                </div>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                    <div  class="form-group">
                                                        <input style="color: black" type="text" class="form-control mb-30" name="bname" id="bname" [(ngModel)]="email" placeholder="Band Email ID">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                        <div  class="form-group">
                                                            <input style="color: black" type="text" class="form-control mb-30" name="bname" id="bname" [(ngModel)]="ach" placeholder="Past Achievements">
                                                        </div>
                                                    </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input style="color: black" type="number" class="form-control mb-30" name="members" id="members" min="1" [(ngModel)]="no" placeholder="Number of Members">
                                            </div>
                                        </div>
                                  <!-- Form Group -->
                                  <div class="col-12 col-lg-6">
                                      <div class="form-group">
                                          <input style="color: black" type="text" class="form-control mb-30" name="name" id="name" [(ngModel)]="m1name" placeholder="Member Name 1">
                                      </div>
                                  </div>
                                  <!-- Form Group -->
                                  <div class="col-12 col-lg-6">
                                      <div class="form-group">
                                          <input style="color: black" type="text" class="form-control mb-30" name="name" id="name2" [(ngModel)]="m1no" placeholder="Contact Number 1">
                                      </div>
                                  </div>
                                  <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input style="color: black" type="text" class="form-control mb-30" name="name" id="name" [(ngModel)]="m2name" placeholder="Member Name 2">
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input style="color: black" type="text" class="form-control mb-30" name="name" id="name2" [(ngModel)]="m2no" placeholder="Contact Number 2">
                                    </div>
                                </div>
                                
                                  <!-- Form Group -->
                                  <div class="col-12">
                                      <div class="form-group">
                                          <textarea name="message" class="form-control mb-30" id="message" cols="30" rows="6" [(ngModel)]="links" placeholder="Links for all original music like singles/Albums (please separate by commas)"></textarea>
                                      </div>
                                  </div>
                                  <!-- Button -->
                                  
                              </div>
                              
                          </div>
                      </form>
                      
                      <div class="col-12">
                        <button (click)="submit()" class="btn confer-btn">Register <i class="zmdi zmdi-long-arrow-right"></i></button>
                    </div>
                  </div>
              </div>
          </div>
          <div class="contact-information mb-100">
                <!-- Single Contact Info -->
                <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp; width: 313px">
                    <h6 style="color: black; margin-left: 20%;">Rules</h6>
                    <br>
                    <ul type="disc" style=" font-size:15px;" class="rules" >
                        <li>
                            The band should submit and perform only their original compositions.<br/><br/>
                        </li>
                        <li>
                            The entire sound should be produced live and use of pre recorded samples must be approved by the organisers.<br/><br/>
                        </li>
                        <li>
                            There are no language and genre restrictions on the bands.<br/><br/>
                                
                        </li>
                    </ul>
                    
                </div>
               
            </div>
      </div>
  </div>

  <div id="snackbar">Registered</div>
</section>