<section class="welcome-area">
  <div class="welcome-slides owl-carousel">
      <!-- Single Slide -->
      <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url('../assets/img/bg-img/45.jpg')">
          <div class="container h-100">
              <div class="row h-100 align-items-center">
                  <!-- Welcome Text -->
                  <div class="col-12">
                      <div class="welcome-text text-right">
                          <h2 data-animation="fadeInUp" data-delay="300ms">Science <br>Conference</h2>
                          <h6 data-animation="fadeInUp" data-delay="500ms">Shangri-La Hotel, Bangkok, Bangkok, Thailand</h6>
                          <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                              <a href="#" class="btn confer-btn">More Information <i class="zmdi zmdi-long-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Single Slide -->
      <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: 'url(/src/assets/img/bg-img/45.jpg)';">
          <div class="container h-100">
              <div class="row h-100 align-items-center">
                  <!-- Welcome Text -->
                  <div class="col-12">
                      <div class="welcome-text-two text-center">
                          <h5 data-animation="fadeInUp" data-delay="100ms">The event consistently</h5>
                          <h2 data-animation="fadeInUp" data-delay="300ms">OSHA Compliance</h2>
                          <!-- Event Meta -->
                          <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                              <a class="event-date" href="#"><i class="zmdi zmdi-account"></i> January 14, 2019</a>
                              <a class="event-author" href="#"><i class="zmdi zmdi-alarm-check"></i> Laura Green</a>
                          </div>
                          <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                              <a href="#" class="btn confer-btn m-2">View more <i class="zmdi zmdi-long-arrow-right"></i></a>
                              <a href="#" class="btn confer-btn m-2">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Scroll Icon -->
  <div class="icon-scroll" id="scrollDown"></div>
</section>
<!-- Welcome Area End -->

<!-- About Us And Countdown Area Start -->
<section class="about-us-countdown-area section-padding-100-0" id="about">
  <div class="container">
      <div class="row align-items-center">
          <!-- About Content -->
          <div class="col-12 col-md-6">
              <div class="about-content-text mb-80">
                  <h6 class="wow fadeInUp" data-wow-delay="300ms"><br><br><br>About Livewire</h6>
                  <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to livewire</h3>
                  <p align="justify" class="wow fadeInUp" data-wow-delay="300ms" >LiveWire is the celebration of independent music in India and aims to bring out the most unique music from various parts of our nation.<br>Livewire - the oldest and biggest semi-professional band launchpad has been instrumental in promoting independent music scene in India for the past 39 years.<br>Over the years, Livewire has seen the birth of some of the country's greatest bands like Parikrama, The F16s, Pentagram, Motherjane, Zero and Goddess Gagged. The revamped model of LiveWire is open not just rock and metal but also the most genre-bending sounds. The language of performance is not a barrier till the band is performing original compositions.
                        </p>
                  <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i class="zmdi zmdi-long-arrow-right"></i></a>
              </div>
          </div>

          <!-- About Thumb -->
          <div class="col-12 col-md-6">
              <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                  <img src="../assets/img/bg-img/2.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- About Us And Countdown Area End -->

<!-- Our Speakings Area Start -->
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(img/bg-img/3.jpg);">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                  <h4>PRIZES</h4>
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-2.png" alt="">
                    </div>
                    <h5>Workshops</h5>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>
                </div>
            </div>
          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-2.png" alt="">
                    </div>
                    <h5>Workshops</h5>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-3.png" alt="">
                    </div>
                    <h5>Coffee Breaks</h5>
                    <p>On the other hand, we denounce with righteous indignation</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-4.png" alt="">
                    </div>
                    <h5>Events</h5>
                    <p>These cases are perfectly simple and easy in a free hour</p>
                </div>
            </div>

          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-2.png" alt="">
                    </div>
                    <h5>Workshops</h5>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>
                </div>
            </div>
          <!-- Single We Offer Area -->
          <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-2.png" alt="">
                    </div>
                    <h5>Workshops</h5>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-3.png" alt="">
                    </div>
                    <h5>Coffee Breaks</h5>
                    <p>On the other hand, we denounce with righteous indignation</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s" style=" background-color:white;">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="../assets/img/core-img/icon-4.png" alt="">
                    </div>
                    <h5>Events</h5>
                    <p>These cases are perfectly simple and easy in a free hour</p>
                </div>
            </div>


          <div class="col-12">
              <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                  <a class="btn confer-btn-white" href="#">view all Prizes <i class="zmdi zmdi-long-arrow-right"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Our Speakings Area End -->

<!-- Our Schedule Area Start -->
<section class="our-schedule-area section-padding-100">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                  <p>Our Timetable</p>
                  <h4>Schedule Plan</h4>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <!-- Tab Content -->
              <div class="tab-content" id="conferScheduleTabContent">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Man Goes Human</h6>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 13 October 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Delhi</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                              </div>
                            </div>
                       </div>
                       <!-- Single Tab Content -->
                       <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Dealing with Difficult People</h6>
                                                <p>by <span>Gary Armstrong</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                              </div>
                            </div>
                       </div>
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="..assets/img/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Dealing with Difficult People</h6>
                                                    <p>by <span>Gary Armstrong</span> / Ceo of Confer</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                                <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                                        </div>
                                  </div>
                                </div>
                           </div>
                            <!-- Single Tab Content -->
                       <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="..assets/img/bg-img/10.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Dealing with Difficult People</h6>
                                                <p>by <span>Gary Armstrong</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                              </div>
                            </div>
                       </div>
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="..assets/img/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Dealing with Difficult People</h6>
                                                    <p>by <span>Gary Armstrong</span> / Ceo of Confer</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                                <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                                        </div>
                                  </div>
                                </div>
                           </div>
                </div>
                  
            </div>
      </div>
  </div>
  <!-- Our Schedule Area End -->

<br><br><br><br/>

<!-- Our Blog Area Start -->
 <!-- Our Client Area -->
 <div class="our-client-area about-page section-padding-0-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                        <h4 style="color:white">Testimonials</h4>
                    </div>
                </div>
            </div>

            <div class="col-12">
                   
                        <div class="client-area owl-carousel owl-loaded owl-drag">
                            <!-- Single client Slider -->
                            

                            <!-- Single client Slider -->
                            

                            <!-- Single client Slider -->
                            
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2300px, 0px, 0px); transition: all 1s ease 0s; width: 4025px;"><div class="owl-item cloned" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="../assets/img/bg-img/16.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Jacqueline Myers</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="../assets/img/bg-img/15.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Maria Hernandez</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div><div class="owl-item" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="img/bg-img/15.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Maria Hernandez</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div><div class="owl-item" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="img/bg-img/16.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Jacqueline Myers</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div><div class="owl-item active" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="img/bg-img/15.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Maria Hernandez</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div><div class="owl-item cloned active" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="img/bg-img/15.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Maria Hernandez</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 535px; margin-right: 40px;"><div class="single-client-content">
                                <!-- Single client Text -->
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <!-- Single client Thumb and info -->
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <!-- Single client Thumb -->
                                        <div class="single-client-thumb">
                                            <img src="img/bg-img/16.jpg" alt="">
                                        </div>
                                        <!-- Single client Info -->
                                        <div class="client-info">
                                            <h6>Jacqueline Myers</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single client Icon -->
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="zmdi zmdi-chevron-left"></i></div><div class="owl-next"><i class="zmdi zmdi-chevron-right"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
                    </div>
                
        </div>
    </div>    
</section>
  <!-- Our Blog Area End -->


<!-- Contact Area Start -->
<section class="contact-our-area section-padding-100-0" id="Register">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                  <p>Have Question?</p>
                  <h4>Contact us</h4>
              </div>
          </div>
      </div>

      <div class="row justify-content-between">
          <div class="col-12 col-sm-8">
              <!-- Contact Form -->
              <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                  <div class="contact_form">
                      <form action="mail.php" method="post" id="main_contact_form">
                          <div class="contact_input_area">
                              <div id="success_fail_info"></div>
                              <div class="row">
                                    <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="bname" id="bname" placeholder="Brand Name">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="number" class="form-control mb-30" name="members" id="members" min="1" placeholder="Number of Members">
                                            </div>
                                        </div>
                                  <!-- Form Group -->
                                  <div class="col-12 col-lg-6">
                                      <div class="form-group">
                                          <input type="text" class="form-control mb-30" name="name" id="name" placeholder="First Name">
                                      </div>
                                  </div>
                                  <!-- Form Group -->
                                  <div class="col-12 col-lg-6">
                                      <div class="form-group">
                                          <input type="text" class="form-control mb-30" name="name" id="name2" placeholder="Last Name">
                                      </div>
                                  </div>
                                  <!-- Form Group -->
                                  <div class="col-12 col-lg-6">
                                      <div class="form-group">
                                          <input type="email" class="form-control mb-30" name="email" id="email" placeholder="E-mail">
                                      </div>
                                  </div>
                                  <!-- Form Group -->
                                  <div class="col-12 col-lg-6">
                                      <div class="form-group">
                                          <input type="text" class="form-control mb-30" name="subject" id="subject" placeholder="Your Number">
                                      </div>
                                  </div>
                                  <!-- Form Group -->
                                  <div class="col-12">
                                      <div class="form-group">
                                          <textarea name="message" class="form-control mb-30" id="message" cols="30" rows="6" placeholder="Your Message *"></textarea>
                                      </div>
                                  </div>
                                  <!-- Button -->
                                  <div class="col-12">
                                      <button type="submit" class="btn confer-btn">Send Message <i class="zmdi zmdi-long-arrow-right"></i></button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="contact-information mb-100">
                <!-- Single Contact Info -->
                <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <h6>Rules</h6>
                    <br>
                    <ul style="color:white; font-size:15px;">
                        <li>
                            The band should submit and perform only their original compositions
                        </li>
                        <li>
                            The entire sound should be produced live and use of pre recorded samples must be approved by the organisers.
                        </li>
                        <li>
                            There are no language restrictions on the bands.
                                
                        </li>
                        <li>
                            The entries need to be submitted online by 28th of September
                        </li> 
                    </ul>>
                    
                </div>
               
            </div>
      </div>
  </div>
</section>